.main-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100%;
  }
  
  .toggle-button-container {
    position: relative;
    z-index: 1; 
  }
  
.animation-container {
  max-width: 50%; /* Increase the width of the animation */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
  